/*General Config*/

html
    {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 1750px;
    }

body
    {
        box-sizing: border-box;
        background-color: rgb(0, 100, 255);
        margin: inherit; /* 0px*/
        padding: 0px;
        height: inherit; /* 1750px */
        width: inherit; /* 100% */
        font-family: 'Times New Roman', Times, serif;
        
    }

main
    {
        margin: 0px;
        padding: 0px;
        height: 100%;
    }

h1
    {
        text-align: center;
    }

dt 
    {
        font-weight: bold;
    }



/*End*/

/*Header Config*/

header
    {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 15px 0px;
        padding: 0px;
        height: 12%;

    }

header figure
    {
        box-sizing: border-box;
        width: 17.75%;
        height: 100%;
        padding: 0px;
        margin: 0px 15px 0px 15px;

            img
                {
                    height: 100%;
                    width: 100%;
                    border-radius: 5px 5px 5px 5px;
                }
    }
nav
    {
        box-sizing: border-box;
        width: 82.25%;
        height: 100%;
    }

nav ul
    {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

nav ul li 
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 22.25%;
        height: 22.5%;
        border-radius: 15px 15px 75px 75px;
        font-size: 145%;
        background-color: rgb(255, 255, 255);     
        border: solid rgb(255, 0, 0);
        border-bottom-style: double;
        border-bottom-color: rgb(0, 0, 160);
        border-bottom-width: 7px;
    }

a
    {
        text-decoration: none;
        color: /*rgb(255, 255, 255);*/
    }

nav ul li:hover
    {
        background-color: rgb(255, 255, 255);
        border-bottom-color: rgb(0, 0, 255);

            a
                {
                    color: rgb(255, 0, 0);
                    text-decoration: underline;
                }
    }
/*End*/