/*General Config*/

* 
    {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

body
    {
        background-color: rgb(0, 100, 255);
        margin: inherit; 
        height: inherit;
        width: inherit;
        font-family: 'Times New Roman', Times, serif;
        height: 100vh;
        
    }

main
    {
        margin: 1.5% 2%;
        padding: 2%;
        height: 80vh;
        background-color: white;
        border-radius: 4%;
    }

h1, h2, h3
    {
        text-align: center;
    }

dt 
    {
        font-weight: bold;
    }



/*End*/



/*Header Config*/

nav > ul
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

nav > ul li 
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 22.25%;
        height: 22.5%;
        border-radius: 5px 50px 5px 50px;
        font-size: 145%;
        background-color: rgb(255, 0, 0);        
    }

a
    {
        text-decoration: none;
    }

nav ul li:hover
    {
        background-color: rgb(255, 255, 255);
        border-bottom-color: rgb(0, 0, 255);

            a
                {
                    color: rgb(255, 0, 0);
                    text-decoration: underline;
                }
    }
/*End*/



section
    {
        width: 50%;
        
    }
    

/*Header Config*/

body > header
    {
        text-align: center;
        height: 10vh;
        background-color: green;
    }


/*End*/

article
    {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 1%;
        border-style: double;
        border-color: darkred;
        height: 100%;
    }

div 
    {
        border: solid green;
    }

footer
    {
        background-color: white;
        height: 10vh;
    }

.content
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

.content2
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

            li
                {
                    width: 20%;
                    border: red solid;
                    border-radius: 20%; 
                }
    }

li
    {
        list-style-type: none;
        text-align: center;
    }
article > section:first-child
    {
        height: 100%;
        background-color: blue;
    }
article > section:nth-child(2)
    {
        height: 100%;
            
            ul
                {
                    height: 20%;
                }
            div
                {
                    height: 75%;
                } 
    }

.frac
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

            li
                {
                    display: flex;
                    height: 75%;
                    border: solid red;
                    border-radius: 20%;
                    align-items: center;
                    justify-content: center;
                }

            li:hover
                {
                    background-color: yellow;

    }

    