/*General Config*/

*
    {
        box-sizing: border-box;
    }

html
    {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 2000px;
    }

body
    {
        box-sizing: border-box;
        background-color: rgb(0, 100, 255);
        margin: 0px;
        padding: 0px; 
        height: inherit; /* 1750px */
        width: inherit; /* 100% */
        font-family: 'Times New Roman', Times, serif;
        
        
    }

main
    {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0px;
        padding: 0px;
        height: 90%;
    }

h1, h2
    {
        text-align: center;
        text-decoration: underline double red;
    }

dt 
    {
        font-weight: bold;
    }



/*End*/

/*Header Config*/

body > header:first-child
    {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 15px 0px;
        padding: 0px;
        height: 10%;

    }

header figure
    {
        box-sizing: border-box;
        width: 17.75%;
        height: 100%;
        padding: 0px;
        margin: 0px 15px 0px 15px;

            img
                {
                    height: 100%;
                    width: 100%;
                    border-radius: 5px 5px 5px 5px;
                }
    }
nav
    {
        box-sizing: border-box;
        width: 82.25%;
        height: 100%;
    }

nav ul
    {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

nav ul li 
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 22.25%;
        height: 22.5%;
        border-radius: 15px 15px 75px 75px;
        font-size: 145%;
        background-color: rgb(255, 255, 255);     
        border: solid rgb(255, 0, 0);
        border-bottom-style: double;
        border-bottom-color: rgb(0, 0, 160);
        border-bottom-width: 7px;
    }

a
    {
        text-decoration: none;
    }

nav ul li:hover
    {
        background-color: rgb(255, 255, 255);
        border-bottom-color: rgb(0, 0, 255);

            a
                {
                    color: rgb(255, 0, 0);
                    text-decoration: underline;
                }
    }
/*End*/

/* Article config*/

article
    {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: rgb(255, 255, 255);
        width: 95%;
        height: 100%;
        border-radius: 90px;
        margin: 2.5% 0%;
        padding: 2.5% 0%;
    }

    h3
        {
            border: solid rgb(140, 0, 0) 5px;
            border-bottom-style: double;
            border-bottom-color: rgb(0, 0, 140);
            border-radius: 45px;
            padding: 1% 1.25%;
            width: fit-content;
        }

    p
        {
            text-align: justify;
            padding: 0% 2.5%;
            line-height: 150%;
        }
/* End*/

/* Section config*/

section
    {
        display: inherit; /* flex */
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 20%;
        margin: 2.5% 0%;
        text-align: justify;
        width: 100%;
    }


section figure
    {
        height: 100%;
        width: 20%;

            img
                {
                    height: inherit;
                    width: 100%;
                    border-radius: 45px;
                    border-left-style: solid;
                    border-right-style: double;
                    border-right-width: 5px;
                }
    }

section div
    {
        height: 100%;
        width: 60%;
        border-right-style: double;
        border-width: 5px;
        border-color: rgb(140, 0, 0);
        border-radius: 45px;
        padding: 0% 1.5%;
    }

/* End*/